In [1]:
import pandas as pd 
import numpy as np

In [2]:
a = pd.read_csv('./submission.csv')

In [8]:
bayesNaive = pd.read_csv('./blended_submission_2019-04-03_06_58.csv')['target']
test0901_01 = pd.read_csv('./new/submission26.csv')['target']
test0901_02 = pd.read_csv('./new/lgb_submission.csv')['target']

In [13]:
a['target'] = bayesNaive*0.7+test0901_01*0.15+test0901_02*0.15

In [3]:
# a['target'] = pd.read_csv('./submission.csv')['target']*0.25+pd.read_csv('./blended_submission_2019-04-03_06_58.csv')['target']*0.75
# a30 = pd.read_csv('./submission.csv')['target']*0.30+pd.read_csv('./blended_submission_2019-04-03_06_58.csv')['target']*0.70
a['target'] =pd.read_csv('./new/lgb_submission.csv')['target']*0.5+pd.read_csv('./blended_submission_2019-04-03_06_58.csv')['target']*0.5#+pd.read_csv('./submission_7th_0900.csv')['target']*0.20

In [42]:
pd.DataFrame(a20).sort_values(by='target').head(10)
pd.DataFrame(a25).sort_values(by='target').head(10)
pd.DataFrame(a30).sort_values(by='target').head(10)

          target
105706  0.000175
39847   0.000293
38453   0.000347
129963  0.000365
158161  0.000392
74893   0.000441
38980   0.000457
181965  0.000467
80579   0.000468
77237   0.000483

          target
105706  0.000175
39847   0.000288
38453   0.000353
129963  0.000359
158161  0.000389
74893   0.000442
38980   0.000454
181965  0.000466
80579   0.000472
77237   0.000481

          target
105706  0.000176
39847   0.000283
129963  0.000354
38453   0.000358
158161  0.000387
74893   0.000443
38980   0.000451
181965  0.000464
80579   0.000475
77237   0.000478

In [14]:
a.to_csv('./0408_new_bayes0102.csv',index=None)

In [45]:
a.sort_values(by='target').head(10)

            ID_code    target
105706  test_105706  0.000175
39847    test_39847  0.000288
38453    test_38453  0.000353
129963  test_129963  0.000359
158161  test_158161  0.000389
74893    test_74893  0.000442
38980    test_38980  0.000454
181965  test_181965  0.000466
80579    test_80579  0.000472
77237    test_77237  0.000481

In [ ]:
from hyperopt import fmin, tpe, hp

In [ ]:
best = fmin(objective, space, algo=tpe.suggest, max_evals=100)

In [ ]:
best = fmin(fn=lambda x: x, space =hp.uniform('x', -2.5, 2.5), algo = tpe.suggest, max_evals=100)
print(best)

In [8]:
# define an objective function
def objective(args):
    case, val = args
    if case == 'case 1':
    return val
    else:
    return val ** 2

# define a search space
from hyperopt import hp
space = hp.choice('a',
    [
    ('case 1', 1 + hp.lognormal('c1', 0, 1)),
    ('case 2', hp.uniform('c2', -10, 10))
    ])

# minimize the objective over the space
from hyperopt import fmin, tpe
best = fmin(objective, space, algo=tpe.suggest, max_evals=100)

print( best)

TypeError: set_postfix() argument after ** must be a mapping, not str